.newPost h2 {
  text-align: center;
  margin-bottom: 1rem;
}
form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.formControl {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.formControl label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.formControl input,
.formControl textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

